body {
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}
header{
  background-color: #999999;
}
#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 3px solid black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

a.navbar-brand  { /* Kosher cert */
  color: #000000;
  font-size: 1.7em;
}

.navbar-nav {
  text-align: center;
  background-color: #fff;
  width: 100%;
}
.nav-link{
  margin: 2px 0 5 0;
  padding: 0px;
  color: black;
}
hr.h{
  margin: 0px;
  color: black;
}
.container{
  color: #000000;
  margin-top: 2px;
  
}

h1.head{
  margin: 15px 0px;
  text-align: center;
  
}

section.story{
  background-color: #999999;
  padding: 0 5px 15px 5px;
  margin-top: 30px;
}

p.title{
  font-size: 1.5em;
  text-align: center;
}

p.title-content{
  font-size: 1.2em;
}

@media (min-width: 992px){
  div#main-content{
    max-width: fit-content;
  }
}
